{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-block">
		<div class="col-md-12 category-hdr">
			<h4><i class="fa fa-cogs"></i> Draft</h4>
		</div>

		<div class="row content-well">
			<p>Draft</p>
		</div>

	</div>
{% endblock %}