{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-well content-block error-page">
		<div class="col-md-12 category-hdr">
			<h4><i class="fa fa-{{ categoryIcon('404') }}"></i> Calendar</h4>
		</div>
		<p>
			calendar
		</p>
	</div>
{% endblock %}

