{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-well">
		<!-- div.week*5>div.cal-1*7>div.pull-right.small>{$.} -->
		<div class="calender">
			<div class="page-header">
				{% include 'calendar/partials/view_date.html.twig' with { 'date': current } %}
			</div>
		</div>
		<div class="calendar clearfix">
			<div class="week hidden-xs">
				<div class="cal-1 day-lable small">
					Monday
				</div>
				<div class="cal-1 day-lable small">
					Tuesday
				</div>
				<div class="cal-1 day-lable small">
					Wednesday
				</div>
				<div class="cal-1 day-lable small">
					Thursday
				</div>
				<div class="cal-1 day-lable small">
					Friday
				</div>
				<div class="cal-1 day-lable small">
					Saturday
				</div>
				<div class="cal-1 day-lable small">
					Sunday
				</div>
			</div>

			{% for week in weeks %}
				{% include 'calendar/partials/week.html.twig' with { 'week': week } %}
			{% endfor %}
		</div>
		
		
	</div>
{% endblock %}

