{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-well content-block error-page">
		<!-- div.week*5>div.cal-1*7>div.pull-right.small>{$.} -->
		<div class="calender">
			<div class="page-header">
				<h2>2. October <small>2014</small></h2>
				<ul class="pull-left clear list-unstyled events">
					<li class="stream">
						<span><i class="fa fa-circle"></i> Carnalizer</span>
						<div class="pull-right">
							<small>10:04 CEST</small>
						</div>
						<div class="today-desc">
							<small>Drawing Stuff!</small>
						</div>

					</li>
					<li class="event">
						<span><i class="fa fa-circle"></i> CM</span>

						<div class="pull-right">
							<small>12:00 CEST</small>
						</div>
						<div class="today-desc">
							<small>Mojang announces who the new CM are!</small>
						</div>
					</li>
					<li class="personal">
						<span><i class="fa fa-circle"></i> Collection</span>
						<div class="pull-right">
							<small>All Day</small>
						</div>
						<div class="today-desc">
							<small>Get a full collection!</small>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="calendar clearfix">
			<div class="week hidden-xs">
				<div class="cal-1 day-lable small">
					Monday
				</div>
				<div class="cal-1 day-lable small">
					Tuesday
				</div>
				<div class="cal-1 day-lable small">
					Wednesday
				</div>
				<div class="cal-1 day-lable small">
					Thursday
				</div>
				<div class="cal-1 day-lable small">
					Friday
				</div>
				<div class="cal-1 day-lable small">
					Saturday
				</div>
				<div class="cal-1 day-lable small">
					Sunday
				</div>
			</div>
			<div class="week">
				<div class="cal-1">
					<div class="text-left small day-date pull-left">
						1. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1 today">
					<div class="text-left small day-date">2. October <span class="visible-xs date-xs">Tuesday</span>
					</div>
					<ul class="pull-left small clear list-unstyled events">
						<li class="stream">
							<span><i class="fa fa-circle"></i> Carnalizer</span>
							<div class="pull-right visible-xs">
								<small>10:04 CEST</small>
							</div>
							<div class="today-desc visible-xs">
								<small>Drawing Stuff!</small>
							</div>
						</li>
						<li class="event">
							<span><i class="fa fa-circle"></i> CM</span>
							<div class="pull-right visible-xs">
								<small>12:00 CEST</small>
							</div>
							<div class="today-desc visible-xs">
								<small>Mojang announces who the new CM are!</small>
							</div>
						</li>
						<li class="personal">
							<span><i class="fa fa-circle"></i> Collection</span>
							<div class="pull-right visible-xs">
								<small>All Day</small>
							</div>
							<div class="today-desc visible-xs">
								<small>Get a full collection!</small>
							</div>
						</li>
					</ul>

				</div>
				<div class="cal-1">
					<div class="text-left small day-date">3. <span class="visible-xs date-xs">Wednesday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">4. <span class="visible-xs date-xs">Monday</span>
					</div>
					<ul class="pull-left small clear list-unstyled events">
						<li class="event"><i class="fa fa-circle"></i> Set 8 Release</li>
					</ul>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">5. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">6. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1 ">
					<div class="text-left small day-date">7. <span class="visible-xs date-xs">Monday</span>
					</div>
					<ul class="pull-left small clear list-unstyled events">
						<li class="turny"><i class="fa fa-circle"></i> ESL All Stars #4</li>
						<li class="stream"><i class="fa fa-circle"></i> ThePurplePanzy</li>
					</ul>
				</div>
			</div>
			<div class="week">
				<div class="cal-1">
					<div class="text-left small day-date">8. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">9. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1 tiny">
					<div class="text-left small day-date">10. <span class="visible-xs date-xs">Monday</span>
					</div>
					<ul class="pull-left small clear list-unstyled events">
						<li class="turny"><i class="fa fa-circle"></i></li>
						<li class="stream"><i class="fa fa-circle"></i></li>
						<li class="stream"><i class="fa fa-circle"></i></li>
						<li class="stream"><i class="fa fa-circle"></i></li>
						<li class="event"><i class="fa fa-circle"></i></li>
						<li class="event"><i class="fa fa-circle"></i></li>
						<li class="event"><i class="fa fa-circle"></i></li>
						<li class="event"><i class="fa fa-circle"></i></li>
						<li class="msg">View All</li>
					</ul>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">11. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">12. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">13. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">14. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
			</div>
			<div class="week">
				<div class="cal-1">
					<div class="text-left small day-date">15. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">16. <span class="visible-xs date-xs">Monday</span>
					</div>
					<ul class="pull-left small clear list-unstyled events">
						<li class="season"><i class="fa fa-circle"></i> New Season</li>
					</ul>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">17. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">18. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">19. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">20. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">21. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
			</div>
			<div class="week">
				<div class="cal-1">
					<div class="text-left small day-date">22. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">23. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">24. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">25. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">26. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">27. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">28. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
			</div>
			<div class="week">
				<div class="cal-1">
					<div class="text-left small day-date">29. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">30. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1">
					<div class="text-left small day-date">31. <span class="visible-xs date-xs">Monday</span>
					</div>
				</div>
				<div class="cal-1 next-month hidden-xs">
					<div class="text-left small day-date">1.
					</div>
				</div>
				<div class="cal-1 next-month hidden-xs">
					<div class="text-left small day-date">2.
					</div>
				</div>
				<div class="cal-1 next-month hidden-xs">
					<div class="text-left small day-date">3.
					</div>
				</div>
				<div class="cal-1 next-month hidden-xs">
					<div class="text-left small day-date">4.
					</div>
				</div>
			</div>
		</div>


	</div>
{% endblock %}

