{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-well content-block">
		<div class="col-md-12 category-hdr">
			<div class="page-header">
				<h1><i class="fa fa-cogs"></i> Create A Tournament</h1>
			</div>
		</div>

		{% for flash in app.session.flashbag.get('tournament_error') %}
			<div class="alert alert-danger">{{ flash }}</div>
		{% endfor %}

		<div class="row content-well">
			<form class="form-horizontal" role="form" method="POST" action="{{ path('tournament_save') }}">
				<div class="form-group">
					<label for="name" class="col-sm-4 control-label">Name *<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="name" value="" required />
					</div>
				</div>
				<div class="form-group">
					<label for="type" class="col-sm-4 control-label">Type *<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<select class="form-control" name="type">
							<option value="single-elimination">Single Elimination</option>
						</select>
					</div>

				</div>

				<!-- Only show this if select[name='type'] is single-elimination -->
				<div class="form-group">
					<label for="secondtype" class="col-sm-4 control-label">Best of</label>
					<div class="col-sm-8">
						<select class="form-control" name="secondtype">
							<option value="bo1">Best of 1</option>
							<option value="bo3">Best of 3</option>
							<option value="bo1thenbo3">Best of 1 and Best of 3 for Semi and Finals</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="regstate" class="col-sm-4 control-label">Registration state *<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<select class="form-control" name="regstate">
							<!--<option value="0">Closed</option>-->
							<option value="1">Open</option>
							<option value="2">Invite-only</option>
						</select>
					</div>
				</div>

				<!--
				<div class="form-group">
					<label for="gold_input" class="col-sm-4 control-label">Registration fee(In-Game Gold)<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<input type="number" id="gold_input" min="0" class="form-control" placeholder="0" value="" />
					</div>
				</div>
				-->
				<div class="form-group">
					<label for="datetimepicker" class="col-sm-4 control-label">Start date<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<div class='input-group date' id='datetimepicker'>
							<input type='text' class="form-control" name="startdate" data-date-format="DD/MM/YYYY HH:mm"/>
							<span class="input-group-addon"><span class="fa fa-calendar"></span>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="desc" class="col-sm-4 control-label">Description *</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="desc" name="desc" rows="8" placeholder="A description of how the trunament works, price pool, special rules etc.."></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="twitch_input" class="col-sm-4 control-label">Twitch stream</label>
					<div class="col-sm-8">
						<input type="text" id="twitch_input" class="form-control" placeholder="http://twitch.tv/username" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<div class="checkbox">
							<label>
								<input type="checkbox" name='hidetournament'> Hide tournament (This tournament will not	be listed)<sup>&#8224;</sup>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="decks" class="col-sm-4 control-label">Deck settings<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<select class="form-control" name="decks">
							<option value="0">No decks required</option>
							<option value="1">One deck required</option>
							<option value="2">Two decks required</option>
						</select>
					</div>
				</div>
				<div class="form-group" id="sideboard-settings" style="display: none;">
					<label for="sideboard" class="col-sm-4 control-label">Sideboard size<sup>&#8224;</sup></label>
					<div class="col-sm-8">
						<input type="number" id="sideboard" name="sideboard" class="form-control" min="0" value="0" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create Tournament</button>
					</div>
				</div>
			</form>
		</div>

	</div>
{% endblock %}
{% block customjs %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("select[name='decks']").change(function(){
				if ($(this).val() >= 1){
					$("#sideboard-settings").show(300);
				} else {
					$("#sideboard-settings").hide(300);
				}
			});
			$('#datetimepicker').datetimepicker({
				useSeconds: false,
				minDate: moment().format("DD/MM/YYYY"),
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-arrow-up",
					down: "fa fa-arrow-down"
				},
				minuteStepping: 15
			});
		});
	</script>
{% endblock %}
