{% extends "base.html.twig" %}
{% block content %}
	<div class="row content-well content-block">
        <div class="col-md-12 category-hdr">
            <h4><i class="fa fa-exclamation"></i> Index</h4>
        </div>
			{% for tournament in tournaments %}
				<a href='{{ path('tournament_view', { 'name': tournament.url }) }}'>{{ tournament.name }}</a>
			{% endfor %}
    </div>
{% endblock %}

