{% extends "base.html.twig" %}
{% block content %}

	<div class="container match-view" style="margin-top: 30px;">
	
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Match Statistics<br /><small>14min 32sec</small></h1>
				<h4>Challange Match</h4>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<!-- Header -->
				<div class="col-md-12 text-left">
					<h2>Orangee <small>6min 43 sec</small></h2>
					<span><img src="http://i.imgur.com/0njz5pI.png" alt="" width="50%"/></span>
				</div>
				
				<div class="col-md-6">
					<!-- Insert Animated avatar like the SG profiles -->
					<img src="http://scrolldier.com/userAvatar/orangee" alt="" height="500px" />
				</div>
				
				
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li>Player profiles, obviously</li>
						<li class="clearfix">
							<span class="pull-left">Rating: </span>
							<span class="pull-right">1670</span>	
						</li>
						<li class="clearfix">
							<span class="pull-left">Matches Played:</span>
							<span class="pull-right"> 1412</span>	
						</li>

						
						<li>When it was played (1 week ago)</li>
						<li>Whether anyone surrendered or not</li>
						
						<li>Idol damage</li>
						<li>Unit damage</li>
						<li>Units played</li>
						<li>Spells played</li>
						<li>Enchantments played</li>
						<li>Scrolls drawn</li>
						
						
						<li>Which resources were in their decks</li>
					</ul>
				</div>
				
			
			</div>
			
			<div class="col-md-6">
				<!-- Header -->
				<div class="col-md-12 text-right">
					<h2><small>7min 49 sec</small> kBasten</h2>
					<span><img src="http://i.imgur.com/2cAp13M.png" alt="" width="50%"/></span>
				</div>
				
				<div class="col-md-6">
				
				</div>
				
				<div class="col-md-6">
					<!-- Insert Animated avatar like the SG profiles -->
					<img src="http://scrolldier.com/userAvatar/kbasten" class="flip" alt="" height="500px" />
				</div>
			
			</div>
		</div>
	</div>

{% endblock %}