{% extends "base.html.twig" %}
{% block content %}

	<div class="container match-view" style="margin-top: 30px;">

		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Match Statistics<br />
					<small>14min 32sec</small>
				</h1>
				<h4>Challange Match</h4>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<!-- Header -->
				<div class="col-md-12 text-left">
					<h2><b>Orangee</b>
						<small>6min 43 sec</small>
					</h2>
					<div class="col-md-6 col-sm-12"><img src="http://i.imgur.com/0njz5pI.png" alt="" width="100%" />
					</div>
				</div>

				<div class="col-md-6 hidden-xs hidden-sm">
					<!-- Insert Animated avatar like the SG profiles -->
					<img src="http://scrolldier.com/userAvatar/orangee" alt="" width="100%" />
				</div>

				<div class="col-md-6 clearfix">
					<ul class="list-unstyled match-data">
						<li class="text-center clearfix"><b>Player</b></li>
						<li class="clearfix">
							<span class="pull-left">Profile: </span>
							<span class="pull-right"><a href="#" target="_blank">Orangee</a></span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Rating: </span>
							<span class="pull-right">1670</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Matches Played:</span>
							<span class="pull-right"> 1412 (54%)</span>
						</li>

						<li class="text-center"><b>Match</b></li>
						<li class="clearfix">
							<span class="pull-left">Played: </span>
							<span class="pull-right">43min ago</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Status: </span>
							<!--Defeated, Won, Surrendered-->
							<span class="pull-right">Won</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Idol damage: </span>
							<span class="pull-right">43</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Unit damage: </span>
							<span class="pull-right">233</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Units played: </span>
							<span class="pull-right">55</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Spells played: </span>
							<span class="pull-right">23</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Enchantments played: </span>
							<span class="pull-right">22</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Scrolls drawn: </span>
							<span class="pull-right">324</span>
						</li>
						<li class="text-center">
							<div class="col-md-3 col-sm-3 col-xs-3"><i class="icon-growth"></i></div>
							<div class="col-md-3 col-sm-3 col-xs-3"><i class="icon-decay"></i></div>
							<div class="col-md-3 col-sm-3 col-xs-3"><i class="icon-order"></i></div>
							<div class="col-md-3 col-sm-3 col-xs-3"><i class="icon-energy"></i></div>
							<!--div class="col-md-3"><i class="icon-wild"></i></div>-->
						</li>
					</ul>
				</div>

			</div>

			<div class="col-md-6 col-sm-6">
				<!-- Header -->
				<div class="col-md-12 text-right">
					<h2>
						<small>7min 49 sec</small>
						kBasten
					</h2>
					<div class="col-md-6 pull-right"><img src="http://i.imgur.com/2cAp13M.png" alt="" width="100%" />
					</div>
				</div>

				<div class="col-md-6 clearfix">
					<ul class="list-unstyled match-data">
						<li class="text-center clearfix"><b>Player</b></li>
						<li class="clearfix">
							<span class="pull-left">Profile: </span>
							<span class="pull-right"><a href="#" target="_blank">Kbasten</a></span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Rating: </span>
							<span class="pull-right">1670</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Matches Played:</span>
							<span class="pull-right"> 1412 (54%)</span>
						</li>

						<li class="text-center"><b>Match</b></li>
						<li class="clearfix">
							<span class="pull-left">Played: </span>
							<span class="pull-right">43min ago</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Status: </span>
							<!--Defeated, Won, Surrendered-->
							<span class="pull-right">Defeated</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Idol damage: </span>
							<span class="pull-right">43</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Unit damage: </span>
							<span class="pull-right">233</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Units played: </span>
							<span class="pull-right">55</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Spells played: </span>
							<span class="pull-right">23</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Enchantments played: </span>
							<span class="pull-right">22</span>
						</li>
						<li class="clearfix">
							<span class="pull-left">Scrolls drawn: </span>
							<span class="pull-right">324</span>
						</li>
						<li class="text-center">
							<div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-growth"></i></div>
							<div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-decay"></i></div>
							<!--div class="col-md-3"><i class="icon-wild"></i></div>-->
						</li>
					</ul>
				</div>

				<div class="col-md-6 col-md-6 hidden-xs hidden-sm">
					<!-- Insert Animated avatar like the SG profiles -->
					<img src="http://scrolldier.com/userAvatar/kbasten" class="flip" alt="" width="100%" />
				</div>

			</div>
		</div>
	</div>

{% endblock %}