{% extends 'tournament_base.html.twig' %}
{% block tournament_actions %}
	<div class="col-lg-12 text-center">
		<h2><a href="{{ path('tournament_register', { name: tournament.url }) }}">Participate</a></h2>
	</div>
{% endblock %}