{% extends 'tournament_base.html.twig' %}
{% block tournament_actions %}
	<div class="col-lg-12 text-center">
		<h2>
			{% if player.is_participating %}
				You are registered
				{% if tournament.tournamentstate == 1 %}
					<a href="#">leave</a>
				{%  endif %}
			{% else %}
				{% if tournament.registrationsOpen() %}
					<a href="{{ path('tournament_register', { name: tournament.url }) }}">Participate</a>
				{% else %}
					Registrations closed
				{% endif %}
			{% endif %}
		</h2>
	</div>
{% endblock %}