{% extends 'tournament_base.html.twig' %}
{% block tournament_actions %}
	<div class="col-lg-12 text-center">
		<h2>
			{% if is_participating %}

			{% else %}
				<a href="{{ path('tournament_register', { name: tournament.url }) }}">Participate</a>
			{% endif %}
		</h2>
	</div>
{% endblock %}