{% extends 'tournament_base.html.twig' %}
{% block tournament_actions %}
	<div class="col-lg-12 text-center">
		<h2>
			{% if playerdata.is_participating %}
				You are registered
				{% if tournament.tournamentstate == 1 %}
					<a href="#">leave</a>
				{% elseif tournament.tournamentstate == 4 %}
					{% if playerdata.player.checkedin == 1 %}
						and checked in
					{% else %}
						<a href="{{ path('check_in', { name: tournament.url }) }}">Check in</a>
					{% endif %}
				{% endif %}
			{% else %}
				{% if tournament.registrationsOpen() %}
					<a href="{{ path('tournament_register', { name: tournament.url }) }}">Participate</a>
				{% else %}
					Registrations closed
				{% endif %}
			{% endif %}
		</h2>
	</div>
{% endblock %}