<div class="week">
	{% for day in week %}
		{% set class = day.date.format('n') != current.month ? " next-month" : "" %}
		{% if day.date == today %}
			{% set class = class ~ " today" %}
		{% endif %}
		<div class="cal-1{{ class }}">
			<div class="text-left small day-date">{{ day.date.format('j') }}. <span class="visible-xs date-xs">{{ day.date.format('l') }}</span></div>
			{% if day.events|length %}
				<ul class="pull-left small clear list-unstyled events">
					{% for event in day.events %}
						<li class="turny"><i class="fa fa-circle"></i> {{ event.title }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endfor %}
</div>