.chat-well, .chat-members-well{
	height: 300px;
	width: 100%;
	overflow-x: scroll;
}

.chat-members{
	font-size: .7em;
	padding: 0px 10px;
}

.chat-message{
	font-size: .7em;
	padding: 0px 10px;
	
	&:hover{
		background-color: rgba(0, 0, 0, .03);
	}
	
	
	&:nth-of-type(odd){
		background-color: rgba(0, 0, 0, .04);
		
		&:hover{
			background-color: rgba(0, 0, 0, .07);
		}
	}
	&:first-of-type{
		border-radius: 3px 3px 0px 0px;
	}
	
	&:last-of-type{
		border-radius: 0px 0px 3px 3px;
	}
	
	&.console{
		color: #888888;
	}
	&.me{
		background-color: lighten(#1094e1, 42%);
		
		&:hover{
			background-color: lighten(#1094e1, 38%);
		}
	}
	
}

.chat-bar{
	text-align: center;
	padding: 20px;
}

.chat-time{
	color: #888;
}

.chat-player{
	font-weight: bold;
	
	&.me{
		color: #1094e1;
	}
}

.chat-rank{
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 4px;
	margin-bottom: 1px;
	
	&.admin{
		background-color: #e14111;
	}
	&.mod{
		background-color: #4fa3f7;
	}
}

.chat-text{

}

.active-game{
	color: #222222;
}

.draft-image{
	padding: 10px;
	height: 100px;
	background-size: cover;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.draft-label{
	border-radius: 0px 0px 3px 3px;	
}

.draft-col-3{
	float: left;
	width: 25%;
	margin: 5px;
}
